
.mySwiper {
    width: 100%;
    height: 100%;
    z-index: -10;
    position: absolute !important;
    left: 0 !important;
}

.mySwiper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: height 0.5s ease-in-out;
}

.mySwiper img {
    object-fit: cover;
    transition: transform 3.5s ease; /* Smooth zoom animation */
}

.swiper-slide-active .swiper-zoom-container img {
    object-fit: cover;
    transform: scale(1.1); /* Reset zoom for active slide */
}

.home-header {
    width: 100%;
    height: 100vh;
    position: relative;
}

.header_shape_top, .header_shape_bottom {
    width: 100%;
    height: 7vh;
    position: absolute;
    z-index: 11;
}

.header_shape_top {
    top: -1px;
}

.header_shape_bottom {
    bottom: -1px;
    transform: rotate(180deg);
}

.header_shape_top img, .header_shape_bottom img {
    width: 100%;
    height: 100%;
}

.opacity_header {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(30, 70, 22, 0.6) 30%, rgba(30, 70, 22, 0.2) 70%);
    z-index: 10;
}

.home_header_text {
    position: absolute;
    z-index: 555;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home_header_text span {
    font-family: "Caveat", cursive;
    font-size: 32px;
    text-align: center;
}

.home_header_text h1 {
    font-size: 64px;
    font-family: "Inter", sans-serif;
    text-align: center;
}

.home_header_text a {
    background: #84c224;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
    border-radius: 20px;
    transition: 0.3s;
}

.home_header_text a:hover{
    background: #1E4616;
}
.home_s1 {
    width: 100%;
    background: #f7f7f7;
    padding: 100px 0;
}

.home_s1_title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    color: #1E4616;
}

.home_s1_title span {
    font-family: var(--fontC), sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #84c224;
    text-align: center;
}

.home_s1_title h2 {
    font-family: "Inter", sans-serif;
    font-size: 39px;
    font-weight: 700;
}

.home_s1_img {
    position: relative;
}

.home_s1_blob {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    padding: 1rem;
    background-image: url("../../assets/home/home_s1_1.webp");
    background-size: cover;
    background-position: 100% 83%;
    background-repeat: no-repeat;
    mask-image: url("../../assets/home/home_s1_mask.png");
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center;
    transition: mask-image 2s ease-in-out;
    z-index: 1;
}

.home_s1_item {
    width: 100%;
    background: white;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-left: #84c224 solid 10px;
}

.home_s1_item_tell {
    padding: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.home_s1_item_tell span {
    width: 70px;
    height: 70px;
    background: #F6CE21;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 15px;
    margin-right: 20px;
}

.home_s1_item_tell h2 {
    font-size: 32px;
    font-family: var(--fontC), sans-serif;
    font-weight: 700;
}

.home_s1_item_tell h3 {
    font-size: 32px;
    font-family: var(--inter), sans-serif;
    font-weight: 700;
}

.home_s1_item_tell span svg {
    width: 100%;
    height: 100%;
}

.home_s1_item h3 {
    font-weight: 700;
    color: #1E4616;
}

.home_s1_element {
    width: 250px;
    height: 250px;
    background: #F6CE21;
    position: absolute;
    border-radius: 75%;
    transform: rotateZ(22deg) ;
    top: 76px;
}

.home_s1_element-blob_line {
    background: url("../../assets/home/home_s1_blob_line.svg") no-repeat;
    background-size: contain;
    width: 100px;
    height: 300px;
    left: -80px;
    top: -6px;
    position: absolute;
    transform: rotateZ(5deg) ;
}

.home_s1_element_iz {
    background: url("../../assets/home/home_s1_element.svg");
    background-size: contain;
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    transform: rotateZ(25deg) ;
}

.home_s2 {
    padding: 100px 0;
}

.home_s2_text {
    margin-bottom: 50px;
}

.home_s2_text h4 {
    color: #84c224;
    font-family: var(--fontC), serif;
    font-size: 30px;
    font-weight: 700;
}

.home_s2_text h1 {
    color: #1E4616;
    font-family: var(--inter), serif;
    font-size: 39px;
    font-weight: 700;
    margin-bottom: 30px;
}

.home_s2_text p {
    color: #363636;
    margin-bottom: 30px;
}

.home_s2_text a {
    background: #84c224;
    color: #fff;
    padding: 15px 30px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 700;
    margin-top: 50px;
}
.home_s2_text a:hover{
    background: #1E4616;
    color: #fff;
}

.home_s2_img {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.home_s2_img img {
    width: 90%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.home_s2_element_top {
    width: 50%;
    background: #F6CE21;
    padding: 15px;
    position: absolute;
    border-radius: 15px;
    top: -20px;
    left: 0;

}

.home_s2_element_top h1 {
    font-size: 22px;
    font-weight: 700;
}

.home_s2_element_bottom {
    background: url("../../assets/home/home_s2_element.svg") no-repeat;
    background-size: contain;
    width: 100px;
    height: 50px;
    position: absolute;
    bottom: 0;
    transform: rotateZ(-65deg) ;
    left: -20px;
}


.home_s3 {
    width: 100%;
    padding: 100px 0;
    background: #f7f7f7;
    position: relative;
}

.home_s3_item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 15px;
}

.home_s3_item:hover {
    background: white;
}

.home_s3_icon {
    width: 100%;
    height: 40%;
    margin-bottom: 20px;
}
.home_s3_text h4{
    font-size: 1em;
    font-weight: 700;
}
.home_s3_icon img {
    width: 80px;
    height: 80px;
    color: #1E4616;
}
.home_s6 .home_s3_element_top{
    top: -1px;
    transform: rotateZ(0deg) ;
}
.home_s6 .home_s3_element_bottom{
    bottom: -1px;
    transform: rotateZ(180deg) ;
}
.home_s3_element_top {
    background: url("../../assets/home/home_s3_element.svg");
    width: 100%;
    height: 20px;
    position: absolute;
    top: -20px;
    transform: rotateZ(180deg) ;
}

.home_s3_element_bottom {
    background: url("../../assets/home/home_s3_element.svg");
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: -20px;
    transform: rotateZ(0deg) ;
}

.home_s4 {
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_s4 .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home_s4_title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin-bottom: 30px;
}

.home_s4_title span {
    color: #84c224;
    font-family: var(--fontC), serif;
    font-size: 30px;
    font-weight: 700;
}

.home_s4_title h3 {
    font-size: 39px;
    font-family: var(--inter), sans-serif;
    color: #1E4616;
    font-weight: 700;
    text-align: center;
}

.home_s4_title p {
    text-align: center;
}

.home_s4_item {
    background: #1E4616;
    width: 200px;
    height: 200px;
    position: relative;
    mask-image: url("../../assets/home/home_s4_mask.png");
    mask-size: 100%;

    mask-repeat: no-repeat;
    mask-position: center;
    transition: mask-image 2s ease-in-out;
    z-index: 1;
    aspect-ratio: 1/1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home_s4_item h1 {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    margin: 0;
    padding: 0;

}

.home_s4_item p {
    font-size: 14px;
    color: white;
    padding: 0;
    margin: 0;

}

.home_s4 .row {
    width: 100%;
}

.home_s4 .col-lg-3 {
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_s4_item_element {
    position: absolute;
    background: url("../../assets/home/home_s4_element.svg") no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
    top: -10px;
    left: 0;
}

.home_s5{
    padding: 50px 0;
    background: #f7f7f7;
    position: relative;
    
}

.home_s5_title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}
.home_s5_title span{
    color: #84c224;
    font-family: var(--fontC), serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
.home_s5_title h1{
    font-size: 39px;
    font-family: var(--inter), sans-serif;
    color: #1E4616;
    font-weight: 700;
    text-align: center;
}
/* Gallery.css */
.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
    padding: 16px;
}

.gallery-item {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.gallery-item img:hover {
    transform: scale(1.05);
}


@media screen and (max-width: 1000px) {
    .home_s1_img {
        padding-top: 20px;
    }
    .home_s4_item p {
        font-size: 12px;
    }
    .home_s4 .col-lg-3 {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home_s4_item_element {
        left: 50px;
    }
}


.home_s6{
    width: 100%;
    height: 70vh;
    position: relative;
    background:url("../../assets/home/home_s6.png") no-repeat center center;
    background-size: cover;
    fill: #1E4616;
}
.home_s6_opacity{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(30,70,22,0.6);
}

.home_s7{
    padding: 100px 0;
}
.home_s7_title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.home_s7_title_text{
    width: 100%;
    text-align: center;
}
.home_s7_title_text span{
    color: #84c224;
    font-family: var(--fontC), serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
.home_s7_title_text h3{
    font-size: 39px;
    font-family: var(--inter), sans-serif;
    color: #1E4616;
    font-weight: 700;
    text-align: center;
}
.home_s7_title a{
    background: #F6CE21;
    padding: 15px 30px;
    border-radius: 20px;
    text-decoration: none;
    color: #1E4616;
    font-weight: 700;
    font-size: 15px;
}


.home_s7_item_img{
    width: 100%;
    height: 50%;
}
.home_s7_item_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.home_s7_item_text{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 50%;
    width: 100%;
    flex-direction: column;
}
.home_s7_item_text h4{
    font-size: 19px;
    font-weight: 700;
    color: #1E4616;
    height: 17%;
}
.home_s7_item_text p{
    font-size: 15px;
    color: #595959;
    height: 61%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.home_s7_item_text a{
    color: #84c224;
    font-size: 19px;
    text-decoration: none;
    height: 20%;
    font-weight: 700;
}
.home_s7_item_text a:hover{
    color: #1E4616;
}


.home_s8{
    padding:100px 0;
}

.home_s8_box{
    width: 100%;
    height: 300px;
    background: #1E4616;
    border-bottom: #F6CE21 solid 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0 50px;

    position: relative;
}
.home_s8_box_item{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home_s8_box_item .home_s8_box_item_text {
    width: 75%;
}
.home_s8_box_item_text h2{
    font-size: 35px;
    color: #F6CE21;
    font-weight: 700;
}
.home_s8_box_item_text p{
    color: white;
    font-size: 20px;
}
.home_s8_box_item a{
    width: 20%;
    padding: 20px 0;
    background: #F6CE21;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    color: #1E4616;
    font-weight: 700;
}
.home_s8_box_item a:hover{
    background: #84c224;
    color: white;
}
.home_s8_box_element_top{
    background: url("../../assets/home/home_s4_element.svg") no-repeat center center;
    background-size: contain;
    position: absolute;
    top: -50px;
    left: -70px;
    width: 150px;
    height: 150px;
}
.home_s8_box_element_bottom{
    background: url("../../assets/home/home_s1_element.svg") no-repeat center center;
    background-size: contain;
    position: absolute;
    bottom: -70px;
    right: 0;
    transform: rotateZ(25deg) ;
    width: 150px;
    height: 150px;
}


@media screen and (max-width: 1000px) {
    .home_s3 {
        padding: 20px 0;
    }

    .home_s3_item , .home_s7_item{
        width: 50% !important;
    }
}

@media screen and (max-width: 800px) {
    .home_header_text h1 {
        text-align: center;
        font-size: 38px;
    }

    .home_header_text span {
        text-align: center;
        font-size: 24px;
    }

    .home_header_text p {
        font-size: 15px;
        text-align: center;
    }

    .home_s1_title h2, .home_s1_title p {
        text-align: center;
    }

    .home_s1_item_tell h3, .home_s1_item_tell h2 {
        font-size: 23px;
    }

    .home_s2_text h1 {
        font-size: 30px;
    }

    .home_s2_text h4 {
        font-size: 25px;
    }

    .home_s2_element_top {
        width: 78%;
        padding: 11px;
        top: -20px;
        left: 10px;
    }

    .home_s4_item {
        width: 164px;
        height: 164px;
    }

    .home_s4_item_element {
        left: -12px;
    }

    .home_s4_title h3 {
        font-size: 25px;
    }

    .home_s7_item{
        width: 100% !important;
        margin-bottom: 40px;
    }
    .home_s7_title{
        flex-direction: column;
        text-align: center;
    }
    .home_s8_box_item{
        flex-direction: column;
        justify-content: center;
    }
    .home_s8_box_item_text , .home_s8_box_item a{
        width: 100% !important;
        text-align: center;
    }
    .home_s8_box_item_text h2{
        font-size: 20px;
    }
    .home_s8_box_item_text p{
        font-size: 15px;
    }
    .home_s8_box_element_bottom{
        width: 80px;
    }
    .home_s8_box_element_top {
        left: 0;
        width: 60px;
    }
    .home_s8{
        padding: 0;}
    }