nav {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    z-index: 999;
}

nav a.logo img {
    width: 150px;
    object-fit: contain;
}
.logo{
    color: #1E4616;
    text-decoration: none;
    font-weight: 700;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo p{
    padding: 0;
    margin: 0 0 0 10px;

}
nav .col-lg-12 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    margin: 0px;
    grid-gap: 10px;
    align-items: center;
    padding: 10px 7px;
    width: 80%;
    justify-content: space-between;
}
nav ul li{
    border-right: 2px solid rgba(2, 243, 2, 0.6);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}
nav ul li:last-child{
    border-right: none;
}
nav ul li a {
    padding: 5px 7px;
    color: #fff;
    text-decoration: none;
    font-weight: 800;
    font-size: 12px;
    font-family: var(--inter);
    text-transform: uppercase;
}

nav button{
    padding: 18px 30px;
    background: black;
    border: none;
    font-size: 14px;
    font-weight: 600;
}

.navburger{
    display: none;
    color: #1E4616;
    font-size: 25px;
    cursor: pointer;
}
.menu{
    display: flex;
    justify-content: flex-end;
    width: 65%;
    z-index: 999;
}


@media screen and (max-width: 1000px) {
    nav{
        background: #FFFFFF;
    }
    .navburger{
        display: block;
    }
    .menu ul li:hover{
        background: #F6CE21;
    }
    .menu {
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        height: 0;
        overflow: hidden;
        transition: height 0.5s ease-in-out;
        /*background: #1B1917;*/
        /*-webkit-box-shadow: 0px 15px 21px 1px rgba(34, 60, 80, 0.2);*/
        /*-moz-box-shadow: 0px 15px 21px 1px rgba(34, 60, 80, 0.2);*/
        /*box-shadow: 0px 15px 21px 1px rgba(34, 60, 80, 0.2);*/
    }
    .menu.open {
        top: 100%;
        height: 34vh; /* Menu butun balandlikni egallaydi */
    }
    .menu ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: start;
        align-items: start;
        grid-gap: 0;
        padding: 0;
    }
    .menu ul li {
        width: 100%;
        border-right: none;
        border-bottom: 2px solid #DDDDDD;
        justify-content: left;
        background: white;

    }
    .menu ul li:last-child{
        border-bottom: none;
    }
    .active_location a{color: #FFFFFF !important;}
    .menu ul li a {
        font-weight: 700;
        font-size: 14px;
        width: 100%;
        height: 100%;
        padding: 20px;
        color: black;
    }
    .active_location{
        background: #F6CE21 !important;

    }
}

@media screen and (max-width: 500px){
    nav .logo{
        width: 45%;
    }
  
    .menu.open {

        height: 38vh;
    }
}

