.gallery_box {
    padding: 50px 0;
}

.gallery_box_title {
    width: 70%;
}

.gallery_item {
    margin-bottom: 10px;
    position: relative;
    margin-right: 10px;
    border-radius: 20px;
    border: 2px solid #84c224;
    cursor: pointer;
}
.active_video iframe{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px solid #84c224;
}
.gallery_item img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.gallery_item_box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

}

.gallery_item_opacity {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.50);
    border-radius: 20px;
}

@media screen and (max-width: 1000px) {
    .gallery_item_box {
        flex-direction: row !important;
        margin-top: 10px !important;
    }

    .gallery_item_box.gallery_item, .gallery_item_box .col-lg-6 {
        width: 50%;
        height: 100%;
        margin-bottom: 0;
        margin-top: 10px !important;
    }

    .gallery_item_box .gallery_item img {
        width: 100% !important;
        height: 100% !important;
    }

    .gallery_box_title {
        width: 100%;
    }
}