@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --inter : "Inter", sans-serif;
    --fontC :"Caveat", cursive
}
*{
    font-family: "Inter", sans-serif;
}

ul {
    list-style: none;
}
a{
    transition: 0.4s;
}